{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Dashboard </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/emails">Emails <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logs">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<h3>Display original email</h3>
<div class="outer">
  {% if emailData %}
    <table table id="table" class="table table-hover table-dark">
      <tr>
        <td>Date:</td>
        <td>{{emailData.Date}}</td>
      </tr>
      <tr>
        <td>To:</td>
        <td>{{emailData.To}}</td>
      </tr>
        <td>From:</td>
        <td>{{emailData.From}}</td>
      <tr>
      <tr>
        <td>Subject:</td>
        <td>{{emailData.Subject}}</td>
      </tr>
      <tr>
        <td>Body:</td>
        <td>{{emailData.Body}}</td>
      </tr>
      <tr>
        <td>Attachment:</td>
        <td>{{emailData.Attachment}}</td>
      </tr>
    </table>
  {% else %}
    <p>There is no email data to display</p>
  {% endif %}
</div>
{% endblock %}