<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="utf-8" />
    <meta name="description" content="Data Analytics for Bad Security Inc." />
    <meta name="keywords" content="HTML, Form, tags, css" />
    <meta name="author" content="Yuvneet"  />
    <title>Login</title>
    
    <!-- TODO : •	Session Timeout
                •	Language and display options (user choice) -->
</head>
<body>
    <div id="container">
        <div id="login-container">
            <div class="logo-container">
                <img src="images/logo.png" alt="Logo" class="logo">
            </div>
            <h2>Login to Admin Dashboard</h2>
            <form>
                <div class="form-field">
                    <label for="username">Username</label>
                    <input type="text" class="login-input" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" class="login-input" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-field remember-recovery">
                    <div class="remember-me">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">Remember me</label>
                    </div>
                    <div class="password-recovery">
                        <!--TO DO-->
                        <a href="forgot_password.html">Forgot your password?</a>
                    </div>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
            <div class="social-buttons">
                <!-- TO DO : Social media login buttons -->
            </div>
            <div class="footer">
                <p>&copy; 2023 Bad Security Inc. All rights reserved.</p>
                <p>
                    <!--TO DO-->
                    <a href="privacy_policy.html">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</body>



</html>
