{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/emails">Emails </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logs">Logs <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
{% block content %}
<h3>Logs</h3>
<div class="outer">
  <input type="text" id="searchInput" placeholder="Search for logs..">
  <table id="table" class="table table-hover table-dark">
    <tr>
      {% for header in headings %}
        <th>{{header}}</th>
      {% endfor%}
    </tr>
      {% for row in logData %}
      <tr>
        <td>{{row.id}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.toAddress}}</td>
        <td>{{row.fromAddress}}</td>
        <td>{{row.subject}}</td>
        <td>{{row.action}}</td>
      </tr>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}