{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="..\static\css\style.css">
    <meta charset="utf-8" />
    <meta name="description" content="Data Analytics for Bad Security Inc." />
    <meta name="keywords" content="HTML, Form, tags, css" />
    <meta name="author" content="Yuvneet"  />
    <title>Privacy Policy</title>
{% endblock %}

{% block header %}
<div id="header-container">
    <div id="header-text">
        <h1>Privacy Policy</h1>
        <h2>Email Security</h2>
        <h3>Team - 35</h3>
    </div>
    <div id="header-logo">
        <img src="static/img/Logo.png" alt="Logo" class="logo">
    </div>
</div>
{% endblock %}
{% block content %}
<div id="policy-container">
    <!-- Code for close button"X" on the top right corner -->
    <!-- <p>
        <a href="/login" class="close-button1">X</a>
    </p> -->
        <p id = policy>
        Welcome to the Email Security Admin Page! Your privacy and the security of your personal information are of utmost importance to us. This Privacy Policy outlines our practices concerning the collection, use, and protection of your data when you access and use our Email Security Admin Page. Please take a moment to review this policy and understand how we handle your information.
    </p>
    <H2>Information We Collect</H2>
    <p id = policy>
        Personal Information: We may collect personal information such as your name, email address, and contact details when you interact with our Email Security Admin Page.
        Usage Information: We may gather information about how you use our Email Security Admin Page, including log data, device information, and analytics regarding your interactions.
    </p>
    <H2>How We Use Your Information</H2>
    <p id = policy>
        We use the collected information for the following purposes:
        Administering and Improving Our Service: To provide, maintain, and enhance the functionality of our Email Security Admin Page.
        Communication: To respond to inquiries, send important updates, and provide customer support.    
        Security: To protect the security and integrity of our Email Security Admin Page, including preventing fraudulent activities.
        Compliance: To comply with legal obligations and enforce our policies.
    </p>
    <H2>Data Sharing</H2>
    <p id = policy>
        We do not sell, rent, or lease your personal information to third parties. However, we may share your data in the following circumstances:
        Service Providers: We may share your information with trusted third-party service providers who assist us in delivering our services and maintaining the Email Security Admin Page.
        Legal Compliance: We may disclose your information when required by law or to protect our rights, privacy, safety, or property, or that of others.
    </p>
    <H2>Data Security</H2>
    <p id = policy>
        We implement industry-standard security measures to protect your data from unauthorized access, disclosure, alteration, or destruction.
    </p>
    <H2>Updates to this Privacy Policy</H2>
    <p id = policy>
        We may update this Privacy Policy from time to time. Any changes will be posted on this page with the updated date.
    </p>
    <H2>Contact Us</H2>
    <p id = policy>
        If you have any questions or concerns regarding this Privacy Policy, please contact us at contact@emailsecurityadminpage.com.
    </p>
    <p id = policy>
        This Privacy Policy is a placeholder and will be updated with more detailed information before the official launch of our Email Security Admin Page. Thank you for your understanding and trust in our commitment to safeguarding your privacy.
    </p>
    <p>
        <a href="/login" class="close-button2">Close</a>
    </p>
</div>

{% endblock %}