/* Custom CSS styling for Email and Log table pages*/ 
table{
    padding: 10px;
}

.outer {
    margin:10px;
}

h3{
    padding-left: 10px;
}

#searchInput {
    background-image: url('../img/searchIcon.png'); /* Add a search icon to input */
    background-position: 5px 5px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  body {
    background-color: #192b33; 
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center; 
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

#login-container {
    width: 400px;
    background: #ffffff;
    border-radius: 10px;
    border: 6px solid #8fb258;
    padding: 15px;
}

#login-container h2 {
    margin-bottom: 15px;
}

.logo-container {
    text-align: center; 
    margin-bottom: 20px;
}

.logo {
    margin: 0 auto 20px;
    width: 150px; 
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* Password recovery link */
.password-recovery {
    font-size: 14px;
    text-align: center; 
    margin-top: 10px;
    color: #8fb258; 
}

/* Remember me checkbox */
.remember-me {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center horizontally */
    margin-top: 10px;
    font-size: 14px;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
    #login-container {
        padding: 10px;
    }
}

/* Footer with privacy link */
.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

footer {
    width: 100%;
    background: #000000;
    color: #ffffff;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
}
